<div class="product-row">
  <ion-card (click)="selectProduct()" class="product-list-item">
    <div class="product-detail">
      <ion-card-header>
        <ion-card-title class="product-tittle">{{ product.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        R$ {{ product.price }}
      </ion-card-content>
    </div>
    <div  *ngIf="product.qty > 0" class="product-case">
      <ion-button class="product-qty" color="primary">{{ product.qty }}</ion-button>
    </div>
  </ion-card>
</div>